* {
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(257, 40%, 49%);
    background-image: url(/src/imagens/bg-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.header {
    padding: 15px 20px;
    display: flex;
    justify-content: left;
}

.header img{
    max-width: 150px;
    min-width: 100px;
}

.main {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.main img{
    width: 50%;
    max-width: 500px;
    object-fit: contain;
}

.main .infos{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.main .infos h1{
    margin-bottom: 16px;
    font-size: 25px;
}

.main .infos p{
    font-size: 18px;
    text-align: justify;
    font-weight: lighter;
    line-height: 1.6;
}

.main .infos .btn{
    border-radius: 50px;
    border: none;
    width: 200px;
    padding: 15px;
    color: hsl(257, 40%, 49%);
    font-size: 15px;
    margin: 30px 0;
    cursor: pointer;
    font-weight: bold;
}

.main .btn:hover{
    color: hsl(300, 93%, 89%);
    background-color: hsl(311, 100%, 50%);
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.footer i{
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

.footer i:hover{
    color: hsl(311, 100%, 50%);
    border-color: hsl(311, 100%, 50%);
}

@media (max-width: 768px) {
    body{
        max-width: 100%;
        max-height: 100%;
        background-image: url(../imagens/bg-mobile.png) center;
        background-repeat: no-repeat;
    }

    .main {
        min-width: 200px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .main .infos{
        min-width: 300px;
    }

    .main .infos .btn{
        margin: 20px auto 10px;
    }

    .footer {
        justify-content: center;
    }
}